* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    margin: 25px;
    padding: 25px;
}
ul {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
li {
    display: inline-block;
    margin: 30px;
    background-color: #eee;
}
figure {
    width: 220px;
}
img {
    width: 220px;
    height: 175px;
}
figcaption {
    text-align: center;
    font-style: italic;
}