body {
    background-color: #61767F;
}
header,
main,
footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
a {
    color: black;
    font-size: 1.2em;
}
#fixed-header{
    position:
        fixed;
    top:
        0;
    z-index:
        50;
    width: 82%;
    margin-left: -1%;
    margin-right: auto;
    background-color: white;
}
#slide-show{
    margin-top: 17vh;
}
h1 {
    text-align: center;
    font-family: serif;
    font-size: 4em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.home h2 {
    text-align: center;
    font-size: 2em;
}
.home h3 {
    text-align: center
}
.home main {
    padding: 1em;
}
.home p {
    font-size: 1.2em;
}
blockquote {
    font-style: italic;
    font-size: 1.5em;
    color: green;
}
.home blockquote{
    padding-right: 2em;
}
#how-it-works blockquote {
    width: 200px;
    border: 1px solid green;
    margin-right: 10px;
}
header nav{
     box-shadow: 0px 10px 30px #333;
}
header nav li {
    background-color: #3A697F;
    border-left: 1px solid white;
    border-right: 1px solid white;

}
header nav li.activa{
    background-color: #5EA8CC;
}
header nav a{
         color: white;
}
.carousel-inner img {
    width: 100%;
}
main .nav-tabs li {
    border: 1px solid #999;
    border-bottom: 0;
    background-color: #75D2FF;
}
main .nav-tabs li.active a {
    background-color: #C1EBFF;
}
.tab-pane {
    padding: 2em;
    max-width: 800px
}
.tab-pane img {
    float: left;
    margin-right: 3em;
    height: 15em;
}
footer {
    background-color: #61767F;
    color: white;
    font-family: serif
}
footer h3 {
    text-align: center;
    font-size: 5em;
}
footer h4 {
    text-align: center;
    font-size: 3em;
}
footer a {
    color: white;
    font-size: 1.6em;
}
#address {
    float: right;
}
footer p {
    font-size: 1.6em;
}
#permitee {
    text-align: center;
    margin: 2em;
    font-size: 1em;
}
